
.google
{
    margin-top: 125px;
    text-align: center;
}
.search
{
    text-align:  center;
    border:rgb(163, 160, 160);
    margin-top: 8px;
    border-radius: 10px;
    height: 40px;
}
.bar
{
   
    border-radius: 50px;
    margin-top: 5px;
    height: 40px; 
    text-align: center;
}
 .bar:hover
 {
    transform: scale(1);
 }
   
.search:hover
{
    cursor: pointer;
    box-shadow: 3px black;
    border-color: black;

}
.pos
{
    position:relative;
    bottom: 45%;
    left: 90%;
}
.pos:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.img1{
    margin-top: 10px;
    height: 30px;
    width: 30px;
}